<head>
    <link rel = "stylesheet" type = "text/css" href = "css/bootstrap.min.css" />
    <script type="text/javascript">setTimeout("window.close();", 5000);</script>
    
</head>

<div class="jumbotron text-xs-center"style="min-height: 100vh;">
    <hr>
    <h1 class="display-3"style="text-align:center;">Thank You!</h1>
    <p class="lead" style="text-align:center;"><strong>Please Sign In to Continue</strong></p>
    <hr>
    <p class="lead" style="text-align:center;">This page will automatically close in 5 seconds</p>
    

    
  </div>
  